.errorInput {
             float: right;
             margin-top: 17%;
             margin-right: 16%;
             width: 139px;
         }

 .errorH1 {
             margin: 10%;
             color: red;
         }