.card-container {
height: 250px;
}
.card-song-img-hold {
overflow: hidden;
width: 100%;
position: relative;
margin: 0;
padding: 15px 0;
}

.card-song-img-hold::before {
content: '';
display: block;
padding-top: 120px;
width: 100%;
position: absolute;
}

.card-song-img {
width: auto;
height: 120px;
margin: 0 auto;
display: block;
}

.out-link-social {
text-align: center;
}