<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/homeCss.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/aboutPageValidation.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<header th:insert="shared/header.html :: header"> </header>


<div class="container-fluid" style="margin-top:5%;">
    <div class="row" style="margin-left: 25px">
        <div class="col-md-4 col-sm-4" style="margin-top: 25px;">
            <div class="row" style="text-align: center;">
                <img src="/images/music_logo-01.png" style="width: 100%" />
            </div>
            <div class="row" style="text-align: center">
                <h3>Information about M-Box</h3>
            </div>
            <div class="row">
                <p style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                </p>
                <p style="text-align: justify">
                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
                    eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                    viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
                </p>
                <p style="text-align: justify">
                    Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                    rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
                    pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3" style="margin-top: 25px; margin-left: 20px; margin-right: 20px">
            <div class="row" style="text-align: center">
                <h3>We cooperate with</h3>
            </div>
            <div class="row" style="border: 1px solid black; height: 720px; padding: 7px">
                <ul th:each="recordLabel : ${recordLabels}" style="text-align: center; list-style: none; margin-left: auto; margin-right: auto; width: 90%; padding: 0px; max-height: 700px; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch;">

                    <a th:href="@{record-label-details(id=${recordLabel.id})}"><li th:text="${recordLabel.name}" style="margin-top: 5px;"></li></a>

                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-4" style="margin-top: 25px; margin-right: 0px">
            <div class="row" style="text-align: center">
                <H3>Contact information</H3>
            </div>
            <div class="row" style="text-align: center">
                <div class="row">
                    <p class="col-md-4 col-sm-4 col-xs-4" style="text-align: right">Tel:</p>
                    <p class="col-md-8 col-sm-8 col-xs-8" style="text-align: left">02 1234 1234</p>
                </div>
                <div class="row">
                    <p class="col-md-4 col-sm-4 col-xs-4" style="text-align: right">E-mail:</p>
                    <p class="col-md-8 col-sm-8 col-xs-8" style="text-align: left">example@example.com</p>
                </div>
                <div class="row">
                    <p class="col-md-4 col-sm-4 col-xs-4" style="text-align: right">Addres:</p>
                    <p class="col-md-8 col-sm-8 col-xs-8" style="text-align: left">Str. "example", No. 198, Town</p>
                </div>
            </div>
            <div class="row">
                <form th:action="@{about}" th:method="post" style="border: 1px solid black; padding: 20px" id="form">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input name="name" id="name" class="form-control" />
                        <p id="nameError" style="color:red"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-mail</label>
                        <input name="email" id="email" class="form-control" />
                        <p id="emailError" style="color:red"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="message">Message</label>
                        <textarea class="form-control" style="height: 250px; resize: none" name="message" id="message" aria-describedby="text-counter" maxlength="200"> </textarea>
                    </div>
                    <p style="margin-top: -10px" id="text-counter">Characters left: <span id="counter">200</span></p>
                    <p id="messageError" style="color:red"></p>
                    <p th:text="${successfullMessage}" style="color:green"></p>
                    <div class="form-group">
                        <button type="submit" value="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>