<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:overflow="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/adminDashboardSearchDelete.js}"></script>
    <script th:src="@{/js/adminDashboardLazyLoading.js}"></script>
    <script th:src="@{/js/adminDashboardSort.js}"></script>
</head>
<body>

<div th:insert="shared/dashboardHeader :: dashboardHeader"></div>

<br>
<br>
<br>
<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <button type="button" class="btn btn-primary" style="margin-left:auto; margin-right:auto; width:100%" onclick="redirect()">Add New Record Label</button>
        </div>
        <div class="col-sm-8 col-md-8">
        <form class="form" role="search">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="search">
            <input type="button" value="search" onclick="mySearch()">
        </form>
        </div>
</div>

    <div class="row" id="content-box" style="margin-top: 25px">

     <div id="tableContainer" class="table-responsive">
        <table st-table="rowCollection" class="table table-striped" style="border: 1px solid gray;">
            <thead class="fixedHeader">
            <tr style="display: block">
                <th style="width: 19%;" id="recordLabelName">Record Label Name <img th:src="@{/images/downArrow.png}"\ style="width:7%;display:none;" id="downName"><img th:src="@{/images/upArrow.png}"style="width:6%;display:none;" id="upName"\></th>
                <th style="width: 19%;" id="recordLabelEmail">Record Label Email address <img th:src="@{/images/downArrow.png}"style="width:7%;display:none;"id="downEmail"\><img th:src="@{/images/upArrow.png}"style="width:6%;display:none;"id="upEmail"\></th>
                <th style="width: 19%;" id="recordLabelNumber">Number of artists <img th:src="@{/images/downArrow.png}"style="width:7%;display:none;"id="downNumber"\><img th:src="@{/images/upArrow.png}"style="width:6%;display:none;"id="upNumber"\></th>
                <th style="width: 19%;">Delete Record Label <img th:src="@{/images/downArrow.png}"style="width:7%;display:none;"\><img th:src="@{/images/upArrow.png}"style="width:6%;display:none;"\></th>
            </tr>
            </thead>
            <tbody id="bodyScroll" style="height: 620px; overflow-y: auto; display: block">
            <tr th:each="recordLabel : ${recordLabels}">
                <form role="form" th:action="@{delete}" method="post" id="form">
                <td th:text="${recordLabel.name}" style="width: 15%;"></td>
                <td th:text="${recordLabel.email}" style="width: 15%;"></td>
                <td th:text="${recordLabel.number}" style="width: 15%;"></td>
                <input type="hidden" name="email" th:value=${recordLabel.email}>
                    <input type="hidden" name="name" th:value=${recordLabel.name}>
                    <td style="width: 15%;"><button type="submit">DELETE</button></td>
                </form>
            </tr>

            </tbody>

        </table>
         <input type="hidden" id="row_no" name="pageNumber" value="1">
         <input type="hidden" id="size" name="sizeNumber" value="20">
    </div>
        </div>
</div>

<script th:inline="javascript">
               /*<![CDATA[*/
                var serverContext = [[@{/}]];
                function redirect() {

                window.location.href = serverContext + "admin/record-label";
                }

                 function redirectToDashboard() {
                window.location.href = serverContext + "admin/dashboard";
                }


                $(document).ready(function () {



	        $('form').submit(function(event) {
	         var values = $(this).serialize();
	         rez=values.split("=")
                    if(!confirm("Are you sure you want to delete " + rez[rez.length-1] )) {
                            event.preventDefault();
                             return;
                    }

	        })



	        })
                /*]]>*/
   </script>

</body>
</html>