<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header th:insert="shared/header.html :: header"> </header>

<div class="container-fluid" style="text-align: center">
    <div class="row">
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="row" style="margin: 20px;">
                <img class="img-circle img-responsive center-block" style="height:350px; width:40%" th:src="${artist.pictureUrl}">
            </div>
            <div class="row" style="margin:20px;">
                <form th:action="@{picture}" method="post" enctype="multipart/form-data">
                    <div class="col-sm-8 col-md-8">
                        <p>Change profle picture:</p>
                        <input class="btn-default btn" type="file" id="file" name="file" accept=".jpg,.jpeg,.png">
                    </div>
                    <div class="col-sm-4 col-md-4" style="margin-top:35px; ">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                    <input type="hidden" th:value="${artist.id}" id="id" name="id"\>
                </form>
            </div>
            <div class="row" style="margin: 20px">
                <div class="col-md-8 col-sm-8">

                        <input class="form-control" th:value="${artist.name}" name="artistName,editArtistName,saveArtistName,cancelArtistName" id="artistName" onclick="editDetails(this.name)" disabled>

                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editArtistName" name="artistName,editArtistName,saveArtistName,cancelArtistName" onclick="editDetails(this.name)" >
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success save saveDetails" id="saveArtistName" name="artistName,editArtistName,saveArtistName,cancelArtistName" onclick="saveDetails(this.name)"  style="display:none">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelArtistName" name="artistName,editArtistName,saveArtistName,cancelArtistName" onclick="cancelEditing(this.name)" style="display:none">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row" style="margin: 20px">
                <div class="col-md-3 col-sm-3" style="margin-top: 5px">
                    <label>Date of Birth:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input class="form-control"  type="date" id="date" disabled/>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button type="button" class="btn btn-default edit editDetails" name="date,editDate,saveDate,cancelDate" id="editDate" onclick="editDetails(this.name)">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1" >
                    <button type="button" class="btn btn-success saveDetails" name="date,editDate,saveDate,cancelDate" id="saveDate" onclick="saveDetails(this.name)" style="display:none">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button type="button" class="btn btn-danger cancelDetails" name="date,editDate,saveDate,cancelDate" id="cancelDate" onclick="cancelEditing(this.name)" style="display:none">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-1 col-sm-1">
                            <button type="button" class="btn btn-default edit editDetails" name="bio,editBio,saveBio,cancelBio" id="editBio" onclick="editDetails(this.name)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <div class="col-md-1 col-sm-1" >
                            <button type="button" class="btn btn-success saveDetails" name="bio,editBio,saveBio,cancelBio" id="saveBio" onclick="saveDetails(this.name)" style="display:none;margin-right:20px">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <button type="button" class="btn btn-danger cancelDetails" name="bio,editBio,saveBio,cancelBio" id="cancelBio" onclick="cancelEditing(this.name)" style="display:none">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="padding: 12px;">
                        <textarea th:text="${artist.bio}"  class="form-control" maxlength="10000" style="margin-top: 5px; height: 400px;width: 400px; resize: none" name="bio"  id="bio" disabled></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
    </div>
</div>

    <script>

        window.onload = function () {
    var previosValue = "";
    var savedValue="";
}

function editDetails(id) {
    result=id.split(",");
    document.getElementById(result[0]).disabled = false;
     document.getElementById(result[1]).style.display = 'none';
    document.getElementById(result[2]).style.display = 'block';
    document.getElementById(result[3]).style.display = 'block';
    previosValue=document.getElementById(result[0]).value;

}

function saveDetails(id) {
result=id.split(",");
    document.getElementById(result[0]).disabled = true;
    document.getElementById(result[1]).style.display = 'block';
    document.getElementById(result[2]).style.display = 'none';
    document.getElementById(result[3]).style.display = 'none';
    formSubmit();
}

function cancelEditing(id) {
    result=id.split(",");
    document.getElementById(result[0]).value = previosValue;
    document.getElementById(result[0]).disabled = true;
    document.getElementById(result[1]).style.display = 'block';
    document.getElementById(result[2]).style.display = 'none';
    document.getElementById(result[3]).style.display = 'none';
}




function formSubmit() {

        var artistName=document.getElementById("artistName").value;
        var date=document.getElementById("date").value;
        var bio=document.getElementById("bio").value;
        var id=document.getElementById("id").value;
        var artistDto={name:artistName,bio:bio,id:id,dateOfBirth:date};
        $.ajax({
        url: "/artist/account",
        headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
        type: "post",
        data:artistDto,
        success: function (data) {
        },
        });


}

 </script>
</body>
</html>