<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header th:insert="shared/header.html :: header"> </header>

<div class="container-fluid" style="text-align: center">
    <div class="row">
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="row" style="margin: 20px;">
                <img class="img-circle img-responsive center-block" style="height:350px; width:40%" th:src="${artist.pictureUrl}">
            </div>
            <div class="row" style="margin:20px;">
                <form method="post" enctype="multipart/form-data">
                    <div class="col-sm-8 col-md-8">
                        <p>Change profle picture:</p>
                        <input class="btn-default btn" type="file" id="uploadedFiles" name="uploadedFiles" accept=".jpg,.jpeg,.png">

                    </div>
                    <div class="col-sm-4 col-md-4" style="margin-top:35px; ">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
            <div class="row" style="margin: 20px">
                <div class="col-md-8 col-sm-8">
                    <form  method="post" id="editName">

                        <input class="form-control" th:value="${artist.name}" id="ArtistName" name="artistName" disabled>

                    </form>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editArtistName" onclick="editDetails('ArtistName', 'editArtistName', 'saveArtistName', 'cancelArtistName')" >
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success save saveDetails" id="saveArtistName" type="submit" form="editName" style="display:none">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelArtistName" onclick="cancelEditiong('ArtistName', 'editArtistName', 'saveArtistName', 'cancelArtistName')" style="display:none">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row" style="margin: 20px">
                <div class="col-md-3 col-sm-3" style="margin-top: 5px">
                    <label>Date of Birth:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input class="form-control" type="date" />
                </div>
            </div>
            <div class="row" style="margin: 20px">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <label>Artist Bio</label>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-default edit editDetails" id="editBio" onclick="editDetails('bio', 'editBio', 'saveBio', 'cancelBio')">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-success save saveDetails" id="saveBio" form="changeBio" type="submit" style="display:none">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-danger cancelDetails" id="cancelBio" onclick="cancelEditiong('bio', 'editBio', 'saveBio', 'cancelBio')" style="display:none">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <form  method="post" id="changeBio">
                        <p style="margin-top: 10px" id="text-counter">Characters left: <span id="counter"></span></p>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
    </div>
</div>


</body>
</html>