<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/editSong.js}"></script>
    <script th:src="@{/js/songValidation.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/errorConfirmationCss.css}">

</head>
<body>

<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="row" style="padding: 15px">

            <form th:action="@{account}" method="get">
                <button type="submit" class="btn btn-block btn-default" style="margin: 5px">Cancel</button>
            </form>

        </div>
    </div>
    <div class="row">
        <form th:action="@{song}" method="post" enctype="multipart/form-data" id="form">

            <button type="submit" class="btn btn-block btn-primary" style="margin: 5px">Publish</button>

            <div class="col-md-6 col-sm-6">
                <div class="col-md-2 col-sm-2">
                    <label>Song Name:</label>
                </div>
                <div class="row form-group" style="margin: 15px">
                    <input name="songName" class="form-control" placeholder="Song Name" id="name">
                    <p id="nameError" class="error"></p>
                </div>
                <div class="row" style="margin: 15px">
                    <input type="file" name="file" id="file" accept=".jpg,.png">
                    <p th:text="${wrongFormat}" class="error"></p>
                    <p th:text="${sizeExceeded}" class="error"></p>
                </div>
                <div class="row" style="margin: 15px">
                    <label th:text="${artistName}"></label>
                </div>
                <div class="row" style="margin: 15px">
                    <div class="col-md-2 col-sm-2">
                        <label>Album Name:</label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" name="albumName" placeholder="Album Name" id="albumName">
                        <p id="albumNameError" class="error"></p>
                    </div>
                </div>
                <div class="row" style="margin: 15px">
                    <div class="col-md-4 col-sm-3" style="margin-top: 5px">
                        <label>Genre:</label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <select name="genre">
                            <option>Rock</option>
                            <option>Pop</option>
                            <option>Electro</option>
                            <option>Hip-Hop</option>
                            <option>RnB</option>
                            <option>Rap</option>
                            <option>Metal</option>
                            <option>Jazz</option>
                            <option>Soul</option>
                            <option>Classical</option>
                            <option>Funk</option>
                            <option>Drum ‘n Bass</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin: 15px">
                    <div class="col-md-3 col-sm-3" style="margin-top: 5px">
                        <label>Release Date:</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input name="dateReleased" class="form-control" type="date" required />
                    </div>
                </div>
                <div class="row" style="margin: 15px">
                    <div class="col-md-6 col-sm-6">
                        <div class="row" style="text-align: center">
                            <label>Youtube</label>
                        </div>
                        <div class="row" style="padding: 8px">
                            <input name="youtubeLink" class="form-control" placeholder="Youtube Link" id="youtubeLinkUrl">
                            <p id="youtubeLinkError" class="error"></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" style="border-left: solid 2px #d3d3d3">
                        <div class="row" style="text-align: center">
                            <label>Vimeo</label>
                        </div>
                        <div class="row" style="padding: 8px">
                            <input name="vimeoLink" class="form-control" placeholder="Vimeo Link" id="vimeoLinkUrl">
                            <p id="vimeoLinkError" class="error"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6" style="border-left: solid 2px #d3d3d3">
                <div class="row" style="text-align: center">
                    <label>Song Lyrics</label>
                </div>
                <div class="row" style="padding: 12px;">
                    <textarea name="songLyrics" class="form-control" maxlength="10000" style="margin-top: 5px; height: 550px; resize: none" id="songLyrics"></textarea>
                    <p id="songLyricsError"></p>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>