<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/editSong.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 col-sm-4">

        </div>
        <div class="col-md-8 col-sm-8">
            <div th:if="${search!=null}" class="row">

                    <div class="col-md-4 col-sm-4">
                        <a class="btn btn-block btn-default" href="javascript:history.go(-1)">Back to search result</a>
                    </div>

                <div class="col-md-6 col-sm-6">

                </div>
            </div>
        </div>
    </div>

    <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="row" style="text-align: center">
                    <div class="col-md-6 col-sm-6">
                        <input th:value="${song.songName}" class="form-control" placeholder="Song Name" name="songName" id="songName" disabled>
                        <p id="nameError" class="errorConfirmationCss" style="display:none ; color:red;">Name has to be between 2 and 50 characters</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-default edit" name="songName,editSongName,saveSongName,cancelSongName" id="editSongName" onclick="editDetails(this.name)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-success save" id="saveSongName" name="songName,editSongName,saveSongName,cancelSongName" style="display:none" onclick="saveDetails(this.name)">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-danger cancel" id="cancelSongName" name="songName,editSongName,saveSongName,cancelSongName" style="display:none" onclick="cancelEditing(this.name)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <img class="img-responsive" style="height:350px; width:500px" th:src="${song.songImgUrl}">
                </div>

                <div class="row" style="margin:20px;">
                    <form th:action="@{/artist/song-picture}" method="post" enctype="multipart/form-data">
                        <div class="col-sm-8 col-md-8">
                            <p>Change picture:</p>
                            <input class="btn-default btn" type="file" id="file" name="file" accept=".jpg,.jpeg,.png">
                            <p th:text="${param.wrongFormat}" class="error" style="color:red;"></p>
                            <p th:text="${param.sizeExceeded}" class="error" style="color:red;"></p>
                        </div>
                        <div class="col-sm-4 col-md-4" style="margin-top:35px; ">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                        <input type="hidden" th:value="${song.id}" id="id" name="id"\>
                    </form>
                </div>

                <div class="row" style="margin-left: 1%;margin-bottom: 2%">
                    <div class="form-group">
                        <label for="artistName" style="float:left;margin-top: 4px;margin-right:6px">By:  </label>
                        <h3 th:text="${song.artistName}" name="artistName" id="artistName"></h3>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <div class="col-md-6 col-sm-6">
                        <input th:value="${song.albumName}" class="form-control" placeholder="Album Name" name="albumName" id="albumName" disabled>
                        <p id="albumError" class="errorConfirmationCss" style="display:none ; color:red;">Album name has to be between 2 and 50 characters</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button  type="button" class="btn btn-default edit" name="albumName,editAlbumName,saveAlbumName,cancelAlbumName" id="editAlbumName" onclick="editDetails(this.name)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-success save" name="albumName,editAlbumName,saveAlbumName,cancelAlbumName" id="saveAlbumName" style="display:none" onclick="saveDetails(this.name)">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-danger cancel" id="cancelAlbumName" name="albumName,editAlbumName,saveAlbumName,cancelAlbumName" style="display:none" onclick="cancelEditing(this.name)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top:4px;margin-bottom:4px;margin-left: 1%;margin-bottom: 2%">
                    <div class="form-group">
                        <label for="artistName" style="float:left;margin-top: 4px;margin-right:6px">Genre:  </label>
                        <h3 th:text="${song.genre}" id="textGenre"></h3>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button  type="button" class="btn btn-default edit" name="editGenre" id="editGenre" onclick="editGenre1('editGenre','saveGenre','cancelGenre','genre')" style="margin-top: -183%;margin-left: 750%">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-success save" id="saveGenre"  onclick="saveGenre1('editGenre','saveGenre','cancelGenre','genre')" style="margin-top: -30%;margin-left: 900%;display:none">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-danger cancel" id="cancelGenre"   onclick="cancelGenre1('editGenre','saveGenre','cancelGenre','genre')" style="margin-top: -30%;margin-left: 1050%;display:none">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                    <select name="genre" id="genre" style="display:none;">
                        <option>Rock</option>
                        <option>Pop</option>
                        <option>Electro</option>
                        <option>Hip-Hop</option>
                        <option>RnB</option>
                        <option>Rap</option>
                        <option>Metal</option>
                        <option>Jazz</option>
                        <option>Soul</option>
                        <option>Classical</option>
                        <option>Funk</option>
                        <option>Drum ‘n Bass</option>
                </select>
                </div>



                <div class="row">
                    <div class="col-md-3 col-sm-3" >
                        <label>Release Date:</label>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <label th:text="${song.dateReleased}" id="dateLabel"></label>
                    </div>

                    <div class="col-md-7 col-sm-7">
                        <input class="form-control"  type="date" id="date" value="2018-10-10" min="1753-01-01" style="display:none" disabled/>
                    </div>
                    <div class="col-md-1 col-sm-1" style="margin-top:-4.5%;">
                        <button type="button" class="btn btn-default edit editDetails" name="date,editDate,saveDate,cancelDate" id="editDate" onclick="editDetails(this.name)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1" >
                        <button type="button" class="btn btn-success saveDetails" name="date,editDate,saveDate,cancelDate" id="saveDate" onclick="saveDetails(this.name)" style="display:none">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-danger cancelDetails" name="date,editDate,saveDate,cancelDate" id="cancelDate" onclick="cancelEditing(this.name)" style="display:none">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>

                </div>

                <div class="row" style="margin-top: 15px">
                    <div class="col-md-6 col-sm-6">
                        <div class="row" style="text-align: center">
                            <a target="_blank" th:href="${song.youtubeLink}" id="youtubeLink">Youtube</a>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-default edit editDetails" id="editYoutube" onclick="editLink('youtubeLink', 'youtubeLinkUrl', 'editYoutube', 'saveYoutube', 'cancelYoutube')">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-success saveDetails" id="saveYoutube" onclick="saveLink('youtubeLink', 'youtubeLinkUrl', 'editYoutube', 'saveYoutube', 'cancelYoutube')" style="display:none">
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-danger cancelDetails" id="cancelYoutube" onclick="cancelEditingLink('youtubeLink', 'youtubeLinkUrl', 'editYoutube', 'saveYoutube', 'cancelYoutube')" style="display:none">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row" style="padding: 8px">
                            <input class="form-control" th:value="${song.youtubeLink}" id="youtubeLinkUrl" name="youtubeLink" style="display:none">
                            <p id="youtubeError" class="errorConfirmationCss" style="display:none ; color:red;">Please enter a valid YouTube link!</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" style="border-left: solid 2px #d3d3d3">
                        <div class="row" style="text-align: center">
                            <a target="_blank" th:href="${song.vimeoLink}" id="vimeoLink">Vimeo </a>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-default edit editDetails" id="editVimeo" onclick="editLink('vimeoLink', 'vimeoLinkUrl', 'editVimeo', 'saveVimeo', 'cancelVimeo')">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-success saveDetails" id="saveVimeo" onclick="saveLink('vimeoLink', 'vimeoLinkUrl', 'editVimeo', 'saveVimeo', 'cancelVimeo')" style="display:none">
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-danger cancelDetails" id="cancelVimeo" onclick="cancelEditingLink('vimeoLink', 'vimeoLinkUrl', 'editVimeo', 'saveVimeo', 'cancelVimeo')" style="display:none">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row" style="padding: 8px">
                            <input class="form-control" th:value="${song.vimeoLink}" id="vimeoLinkUrl" name="vimeoLink" style="display:none">
                            <p id="vimeoError" class="errorConfirmationCss" style="display:none ; color:red;">Please enter a valid Vimeo link!</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-sm-6" style="border-left: solid 2px #d3d3d3">
                <div class="row">
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-default edit editDetails" name="songLyrics,editLyrics,saveLyrics,cancelLyrics" id="editLyrics" onclick="editDetails(this.name)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1" >
                        <button type="button" class="btn btn-success saveDetails" name="songLyrics,editLyrics,saveLyrics,cancelLyrics" id="saveLyrics" onclick="saveDetails(this.name)" style="display:none">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-danger cancelDetails" name="songLyrics,editLyrics,saveLyrics,cancelLyrics" id="cancelLyrics" onclick="cancelEditing(this.name)" style="display:none">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <div class="row" style="padding: 12px;">
                    <textarea th:text="${song.songLyrics}"  class="form-control" maxlength="10000" style="margin-top: 5px; height: 550px; resize: none" name="songLyrics"  id="songLyrics" disabled></textarea>
                </div>
            </div>


    </div>

</div>



</body>
</html>