<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MBox</title>
</head>
<body>
<h3>Access Denied Exception</h3>
<div>
    Logged in authenticatedUser: <b th:inline="text"  class="authenticatedUser"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/app-logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
<p class="error" th:text="${errorMsg}">Error</p>
<h1>  YOU ARE IN THE ERROR PAGE </h1>
<h1>You are here because an error happened. We are sorry.</h1>

<h1 > Please proceed to <a th:href="@{/home/homepage}">home page</a></h1>

</body>
</html>