<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/homeCss.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<header th:insert="shared/header.html :: header"> </header>

<div class="container-fluid">
    <div class="row" style="margin-top:5%;margin-left:1px">
        <h4>Recently added songs</h4>
        <ul class="list-group" style="list-style:none; margin-bottom:2%;" id="songResults">

            <li th:if="${#lists.isEmpty(songs)}"  id="moreSongs">
                <h5>More songs to be added soon.</h5>
            </li>

            <li th:each="song : ${songs}" class="col-sm-2 card-container table-bordered" style="margin-right:3.2%;">
                <div>
                    <div class="row card-song-name">
                        <div>
                            <div class="text-center text">
                                <h5 th:text="${song.songName}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="row card-song-img-hold">
                            <img class="card-song-img" th:src="${song.songImgUrl}" />

                    </div>
                    <div class="row out-link-social">
                        <div class="col-sm-6 alignforvl">
                            <a target=”_blank” th:href="${song.youtubeLink}">Youtube</a>
                        </div>
                        <div class="col-sm-6 vl">
                            <a target=”_blank” th:href="${song.vimeoLink}">Vimeo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="text-center text">
                                <h5 th:text="${song.artistName}"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </div>

</div>

<hr />
<div class="row" style="margin-left:13px">
    <h4>Recently added artists</h4>
    <ul class="list-group seperateLists" style="list-style:none">

        <li th:if="${#lists.isEmpty(artists)}">
            <h5>More artists to be added soon.</h5>
        </li>

        <li th:each="artist : ${artists}" class="col-sm-2 table-bordered" style="margin-right:3.2%">
            <div>
                <div class="row">
                    <div>
                        <div class="text-center text">
                            <h5 th:text="${artist.name}"></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img class="img-circle img-responsive artistAlign "   th:src="${artist.pictureUrl}" style="width: 80%;height: 80%;margin-left: auto;margin-right: auto;" />
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div th:if="${artist.deleted}" class="text-center text">
                            <h5 >/</h5>


                        </div>
                        <div th:unless="${artist.deleted}" class="text-center text">

                            <h5 th:text="${artist.recordLabelName}"></h5>

                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>

</body>
</html>