<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/homeCss.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/recordLabelListPageLazyLoading.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header th:insert="shared/header.html :: header"> </header>
<div class="body-content">
<div class="container-fluid" style="margin-top:4%">
    <ul id="recordLabelsListId" class="list-group recordLabelList" style="list-style:none;margin-top:30px">

        <li th:each="record : ${recordLabels}" class="col-sm-2 table-bordered card-container" style="margin-right:3.2% ; margin-bottom:4%;height:200px;">
            <div class="row card-song-name">
                <div>
                    <div class="text-center text">
                        <a th:href="@{record-label-details(id=${record.id})}"> <h5 th:text="${record.name}"></h5></a>
                    </div>
                </div>
            </div>
                <a th:href="@{record-label-details(id=${record.id})}">
                    <div class="row card-song-img-hold">

                            <img class="card-song-img" th:src="${record.pictureUrl}" />

                    </div>
                </a>
        </li>

    </ul>
    <button name="LoadMore" class="btn btn-primary center-block" id="loadmorebutton" style="display:none"> Load More</button>
</div>
</div>
<input type="hidden" id="row_no" name="pageNumber" value="1">
<input type="hidden" id="size" name="sizeNumber" value="25">

</body>
</html>