<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="shared/dashboardHeader :: dashboardHeader"></div>

<div class="container">

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <button type="button" class="btn btn-primary" style="margin-left:auto; margin-right:auto; margin-bottom:5px; width:100%" >Add New Artist</button>
            <button type="button" class="btn btn-primary" style="margin-left:auto; margin-right:auto; width:100%" >Add Multiple Artists</button>
        </div>
        <div class="col-sm-8 col-md-8">
            <form class="form" role="search">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="search">
                <input type="button" value="search" onclick="mySearch()">
            </form>
        </div>
    </div>
    <div class="row" id="content-box" style="margin-top: 25px">

    <div id="tableContainer" class="table-responsive">
        <table st-table="rowCollection" class="table table-striped" style="border: 1px solid gray;">
            <thead class="fixedHeader">
            <tr style="display: block">
                <th style="width: 19%;">Profile Picture</th>
                <th style="width: 19%;">Artist Name</th>
                <th style="width: 19%;">Artist E-mail</th>
                <th style="width: 19%;">Delete Artist</th>
            </tr>
            </thead>
            <tbody id="bodyScroll" style="height: 620px; overflow-y: auto; display: block">
            <tr th:each="artist : ${artists}">
                <form role="form" th:action="@{delete}" method="post" id="form">
                    <td style="width: 15%;"><img th:src="${artist.pictureUrl}" style="width: 15%;" /></td>
                    <td th:text="${artist.name}" style="width: 15%;"></td>
                    <td th:text="${artist.email}" style="width: 15%;"></td>
                    <input type="hidden" name="email" th:value=${artist.email}>
                    <input type="hidden" name="name" th:value=${artist.name}>
                    <td style="width: 15%;"><button type="submit">DELETE</button></td>
                </form>
            </tr>

            </tbody>

        </table>
        <input type="hidden" id="row_no" name="pageNumber" value="1">
    </div>
    </div>


</div>

</body>
</html>