<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/css/errorRegister.css}">
</head>
<body>

    <h1 class="errorH1">Your link has expired!</h1>
    <h1 class="errorH1">Please register again!</h1>

    <input type="button" onclick="redirect()" value="Register" class="errorInput btn btn-danger">


    <script th:inline="javascript">
               /*<![CDATA[*/
                var serverContext = [[@{/}]];
                function redirect() {

                window.location.href = serverContext + "registration";
                }
        </script>


</body>
</html>